<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="static/template00.css" }}>
  <title>Bloginator</title>
</head>
<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <h1>Bloginator</h1>
      <h2>A page I've lifted from Pure.css</h2>

      <nav class="nav">
	{% if s.logged %}
        <ul class="nav-list">
          <li class="nav-item">
            <a class="pure-button" href="/logout">De-Login</a>
          </li>
	  {% else %}
          <li class="nav-item">
            <a class="pure-button" href="/login">Login</a>
          </li>
        </ul>
	{% endif %}
      </nav>
      </div>
  </div>

<div class="content pure-u-1 pure-u-md-3-4">
  {% if s.logged %}
  <form action="/home" method="POST">
    <h1 style="text-align:left; font-style: italic; background:rgb(21, 69, 93);">New Post</h1>
    <textarea rows="1" cols="40" name="title">Title</textarea><br>
    <textarea rows="5" cols="100" name="story">Blog Text</textarea><br>
    <input type="submit" name="button" value="Post">
  </form>
  {% endif %}
            <div class="posts">
              <h1 class="content-subhead" style="color:white;">Recent Posts</h1>
	      {{post_counter}}
	      {% for item in post %}
	      {% if post_count %}
	      
              <section class="post">
                <header class="post-header">

                  <h2 class="post-title" style="text-align:left; font-style: italic; background:rgb(21, 69, 93); color:white;">{{item.title}}</h2>

                  <p class="post-meta">
                    By <a class="post-author" href="#">{{item.author}}</a>
                </header>

                <div class="post-description">
                  <p>
                    {{item.text}}
		    <br>
		    <a href="#">Comments</a>
                  </p>
                </div>
              </section>
	      {% endif %}
	      {% endfor %}
	      <a href="/add_more_posts">More posts...</a>
	      <div class="footer">
		<div class="pure-menu pure-menu-horizontal">
		  <ul>
		    <li class="pure-menu-item"><a style="text-align:center;color:white;"  href="#">About</a></li>
		    <li><a style="text-align:center;color:white;" href="https://github.com/hfilosa/Bloginator" class="pure-menu-link">GitHub</a></li>
		  </ul>
		</div>
	    </div>
</div>
</div>
</div>
